

/* ---------------------css for small screen-------------- */

@media only screen and (max-width: 1024px) {


  /* }<------------------Navigation-bar-Section-------------------> */

  .logo img {
    margin-left: -15px;
    margin-top: 8px;
  }
  nav .hide,
  .icon-5 {
    display: block;
    font-size: 25px;
    margin: 15px;
  }

  nav .icon-5 {
    display: none;
  }

  nav ul {
    background: #4d5bf9;
    /* background: #7564e5; */
    position: fixed;
    top: 0;
    right: -200px;
    width:150px;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
    border-radius: 10px;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .hide,
  .icon-5 {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  /* <---------------------header-section-----------------------> */

  header {
    background-size: cover;
    background-position: center;
  }

  .header-right img {
    margin-top: -400px;
    width: 100%;
  }

  .header-left {
    max-width: 100vw;
    text-align: center;
  }

  .header-section {
    flex-direction: column-reverse;
  }

  .header-section .btn-box {
    margin: 20px auto;
  }

  .header-left h1::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
  }

  .home-img::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 120%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: 0.5s;
    z-index: 100;
  }

  #p-1::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
  }

  #p-2::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: 2.6s;
  }

  .btn-box a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    z-index: -1;
    transition: 0.5s;
  }

  #p-1 {
    font-size: 35px;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .part {
    flex-wrap: wrap;
  }

  .header-text {
    margin-top: 100%;
    font-size: 1px;
  }

  .header-text h1 {
    font-size: 30px;
  }

  .sub-title {
    font-size: 27px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 {
    font-size: 14px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

  .copyright {
    font-size: 14px;
  }

  .flex .card {
    margin-bottom: 35px;
  }

  /* -----------------------------TIMELINE SECTION-------------------------- */

  .container-2 {
    width: 85%;
    transform: translateX(15px);
  }
  .container-2 ul::after {
    left: -30px;
  }
  .container-2 ul li {
    width: 100%;
    float: none;
    clear: none;
    margin-bottom: 80px;
  }
  .container-2 ul li:nth-child(odd) {
    text-align: left;
    transform: translateX(0);
  }
  .container-2 ul li:nth-child(odd) .date {
    left: 20px;
  }
  .container-2 ul li:nth-child(odd) .circle {
    left: -30px;
    transform: translate(-50%, -50%);
  }
  .container-2 ul li:nth-child(even) {
    transform: translateX(0);
  }
}

